@import 'colores';

/* Definicion de funciones de SCSS */

@mixin name($val) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: $val;
}

/* Definición de clases y estilos de objectos */

/* ---HEADER--- */
.header {
    background-color: #E20074;
    color: white;
    padding: 25px;
    margin-bottom: 0px;
}

.nav{
    li {
        display: inline-block;
        font-size: 20px;
        padding: 20px;
    }
}

/* ---BODY--- */
body{
    margin: 0px;
}

.body {
    background-color: #A59DA3;
    color: #E20074;
    padding: 10px 25px 10px 25px;
}

.bodydark {
    background-color: rgb(78, 72, 77);
    color: #E20074;
}

div{
    .absolute {
        position: absolute;
        bottom: 10px;
    }
}

h1{
    color: #E20074;
    text-align: center;
    margin: 0px;

    a{
        color: white;
        text-decoration: none;
        
        &:hover{
            background-color: violet;
        }
    }
}

h2 {
    color: #E20074;
    text-align: center;
    margin: 0px;
}

p {
    margin: 0px;
}

.main_text{
    padding-bottom: 10px;
}

/* ---GRID CONFIG--- */

.column {
    float: left;
    width: 50%;
}

.row{
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/* ---FOOTER--- */
.footer {
    background-color: #E20074;
    color: white;
    padding: 10px 25px 10px 25px;
    margin-bottom: 0px;
    
    ul{
        list-style-type: none;
        padding-left: 0px;
        margin-top: 2px;

        li{
            display: inline-block;
            margin-right: 5px;
        }
    }
}

/* -------------------------------- */
/* Media querys de responsive */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}